/* body {
    margin-top: 60px;
} */

body {
    background: radial-gradient(ellipse at center, #443501 0%, #000000 100%);
}

.slotwrapper {
    width: 100%;
    overflow: hidden;
    /* display: inline-block; */
    /* border: 1px solid #000; */
    /* height: 200px; */
    height: 43dvh;
}
.slotwrapper ul {
    list-style: none;
    position: relative;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slotwrapper ul {
    padding: 0;
    margin: 2%;
    width: 29.3%;
    height: 40dvh;
    font-size: 5dvh;
    line-height: 40dvh;
    text-align: center;
}

.slotwrapper ul li {
    /* background-color: aquamarine; */
    width: 100%;
    height: 99%;
}

.slotwrapper ul li img {
    vertical-align: top;
}
@media screen and (max-width: 1200px) {
    .slotwrapper {
        width: 100%;
    }
    .slotwrapper ul {
        width: 33%;
    }
}
@media screen and (max-width: 768px) {
    .slotwrapper {
        height: 100px;
    }
    .slotwrapper ul {
        height: 100px;
        /* font-size: 100px; */
        line-height: 100px;
    }
}

/* Example 10 override slotwrapper */
#example10 {
    height: 150px;
}
#example10 ul {
    width: 150px;
    height: 150px;
    font-size: 150px;
    line-height: 150px;
}
@media screen and (max-width: 1200px) {
    #example10 ul {
        width: 18%;
    }
}
@media screen and (max-width: 768px) {
    #example10 {
        height: 100px;
    }
    #example10 ul {
        height: 100px;
        font-size: 100px;
        line-height: 100px;
    }
}

.metallic-button {
    font-size: 14px;
    padding: 6px 16px;
    font-weight: 400;
    border: none;
    outline: none;
    color: #000;
    background: linear-gradient(45deg, #999 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #999 95%);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.metallic-button:hover {
    transform: translateY(-2px);
}

:root {
    --gold: #ffb338;
    --light-shadow: #77571d;
    --dark-shadow: #3e2904;
}

.bg-metallic {
    border: none;
    outline: none;
    color: #000;
    background: linear-gradient(45deg, #999 5%, #fff 10%, #ccc 30%, #ddd 50%, #ccc 70%, #fff 80%, #999 95%);
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.bg-gold {
    /* background-image: repeating-linear-gradient(105deg, var(--gold) 0%, var(--dark-shadow) 5%, var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top; */
    /* background-color: #D8A444; */
    /* background: radial-gradient(ellipse at center, #443501 0%, #000000 100%); */
    background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
}

.bg {
    background-image: repeating-linear-gradient(105deg, var(--gold) 0%, var(--dark-shadow) 5%, var(--gold) 12%);
    color: transparent;
    filter: drop-shadow(5px 15px 15px black);
    transform: scaleY(1.05);
    transform-origin: top;
}

.fg {
    background-image: repeating-linear-gradient(5deg, var(--gold) 0%, var(--light-shadow) 23%, var(--gold) 31%);
    color: #1e2127;
    transform: scale(1);
}

.bg-red {
    background: linear-gradient(to bottom, #a90329 0%, #8f0222 44%, #6d0019 100%);
}

.bg-pupple {
    /* background: linear-gradient(
        to bottom,
        #cb60b3 0%,
        #ad1283 50%,
        #de47ac 100%
    );  */

    background: linear-gradient(to bottom, #3f4c6b 0%, #3f4c6b 100%);
}

.bg-blue {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

h1 {
    background: linear-gradient(to bottom, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family: 'Playfair Display', serif;
    position: relative;
    text-transform: uppercase;
    /* font-size: calc(18vw + 0.5rem); */
    font-size: 8dvh;
    line-height: 40dvh;
    margin: 0;
    font-weight: 400;
}

h1::after {
    background: none;
    content: attr(data-heading) / '';
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: -1px 0 1px #c6bb9f, 0 1px 1px #c6bb9f, 5px 5px 10px rgba(0, 0, 0, 0.4),
        -5px -5px 10px rgba(0, 0, 0, 0.4);
}
